---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Услуги | Global Express">
  <main
    class="flex items-center justify-center bg-[url(/bg.jpg)] bg-cover bg-center p-52 py-24 text-3xl font-bold text-white sm:py-32 lg:py-42"
  >
    О нас
  </main>
</MainLayout>
