---
import { Button } from "@/components/ui/button";
import { Phone, Mail, MapPin, Facebook, Twitter, Linkedin } from "lucide-react";
import { ModeToggle } from "./ModeToggle";
---

<header class="bg-primary relative h-22 text-white">
  <div class="mx-auto flex w-[90%] max-w-[1440px] flex-col dark:text-black">
    <div class="flex items-center justify-between gap-2 p-2">
      <div class="flex items-center space-x-2">
        <MapPin className="h-4 w-4" />
        <a href="#">​Оренбург, Шарлыкское шоссе, 1 к2, 116 офис; 460019</a>
      </div>
      <div class="flex gap-2">
        <p>Свяжитесь с нами</p>
        <div class="flex items-center space-x-2">
          <Mail className="h-4 w-4" />
          <a href="mailto:gexpress@mail.ru">gexpress@mail.ru</a>
        </div>
        <div class="flex items-center space-x-2">
          <Phone className="h-4 w-4" />
          <a href="tel:8-800-555-35-35">8-800-555-35-35</a>
        </div>
      </div>
    </div>
    <div
      class="bg-secondary z-10 flex h-24 items-center rounded-md px-4 text-black dark:text-white"
    >
      <div class="flex w-full items-center justify-between">
        <div class="text-2xl font-bold">
          Global Express<span class="text-red-300">.</span>
        </div>

        <nav class="hidden items-center space-x-8 md:flex">
          <a href="#" class="transition-colors hover:text-red-200"> Home </a>
          <a href="#" class="transition-colors hover:text-red-200">
            About Us
          </a>
          <a href="#" class="transition-colors hover:text-red-200">
            Services
          </a>
          <a href="#" class="transition-colors hover:text-red-200"> News </a>
          <a href="#" class="transition-colors hover:text-red-200">
            Track Orders
          </a>
        </nav>
        <div class="flex items-center gap-4">
          <ModeToggle client:load />
          <Button
            variant="outline"
            className="border-white bg-white text-red-700 hover:bg-red-50"
          >
            Track Order →
          </Button>
        </div>
      </div>
    </div>
  </div>
</header>
