---
import { Button } from "@/components/ui/button";
import { Phone, Mail, MapPin } from "lucide-react";
import { ModeToggle } from "./ModeToggle";
import MobileMenu from "./MobileMenu";
---

<header class="bg-primary h-22 text-white">
  <div class="mx-auto flex w-[90%] max-w-[1440px] flex-col">
    <div
      class="flex items-center justify-end gap-1 py-3 text-sm sm:justify-end md:justify-between lg:gap-2 lg:text-base"
    >
      <div class="hidden items-center gap-1 md:flex lg:gap-2">
        <MapPin className="h-4 w-4 lg:h-6 lg:w-6" />
        <a href="#213">​Оренбург, Шарлыкское шоссе, 1 к2, 116 офис; 460019</a>
      </div>
      <div class="flex gap-1 lg:gap-4">
        <p class="hidden xl:block">Свяжитесь с нами:</p>
        <div class="flex items-center gap-1 lg:gap-2">
          <Mail className="h-4 w-4 lg:h-6 lg:w-6" />
          <a href="mailto:gexpress@mail.ru">gexpress@mail.ru</a>
        </div>
        <div class="flex items-center gap-1 lg:gap-2">
          <Phone className="h-4 w-4 lg:h-6 lg:w-6" />
          <a href="tel:8-800-555-35-35">8-800-555-35-35</a>
        </div>

        <ModeToggle client:load />
      </div>
    </div>
    <div
      class="bg-background z-10 flex h-20 items-center rounded-md px-4 text-black dark:text-white"
    >
      <div class="flex w-full items-center justify-between">
        <div
          class="text-[1.75rem] leading-none font-bold md:text-[1.5rem] lg:text-[2.25rem]"
        >
          Global Express
        </div>

        <nav class="hidden text-sm font-medium md:block lg:text-base">
          <ul class="flex items-center gap-4 lg:gap-8">
            <li>
              <a href="/" class="hover:underline">Главная</a>
            </li>
            <li>
              <a href="services" class="hover:underline">Услуги</a>
            </li>
            <li>
              <a href="about" class="hover:underline">О нас</a>
            </li>

            <li>
              <a href="contacts" class="hover:underline">Контакты</a>
            </li>
          </ul>
        </nav>

        <div class="hidden items-center gap-4 md:flex">
          <Button variant="outline"> Отследить посылку → </Button>
        </div>
        <MobileMenu client:load />
      </div>
    </div>
  </div>
</header>
